@model Werkverantwoording.Models.Day
@{
    ViewBag.Title = "Index";
}

<h2>Progress of: @ViewBag.StudentName</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Completed
        </th>
        <th></th>
    </tr>

@foreach (var day in ViewBag.dateOfProgresses) {
    <tr>
        <td>
           <a href="/Assignments/Index/@day.ID"> @day.Submitted</a>
        </td> 
        <td>
          @day.Completed
        </td>
        <td>
        </td>
    </tr>
}

</table>
